<app-navbar></app-navbar>
<main class="page blog-post-list">
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" class="fix-top">Delivery Update</h2>
            </div>
            <div class="block-content">
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-7 col-xl-12">
                            <h3>Reached in Delhi warehouse</h3>
                            <div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
                            <p>Description about reaching here</p><button class="btn btn-outline-primary btn-sm" type="button">Read More</button></div>
                    </div>
                </div>
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-7 col-xl-12">
                            <h3>Left from Punjab Warehouse</h3>
                            <div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
                            <p>Description about leaving from punjab</p><button class="btn btn-outline-primary btn-sm" type="button">Read More</button></div>
                    </div>
                </div>
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-7 col-xl-12">
                            <h3>Crop reached from farmer to Punjab warehouse</h3>
                            <div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
                            <p>Description about the crop leaving from farmer's farm till punjab warehouse</p><button class="btn btn-outline-primary btn-sm" type="button">Read More</button></div>
                    </div>
                </div>
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-7 col-xl-12">
                            <h3>Pickup Scheduled</h3>
                            <div class="info"><span class="text-muted">Jan 16, 2018 by&nbsp;<a href="#">John Smith</a></span></div>
                            <p>Description about pickup scheduled by the transportation team from farmers farm.</p><button class="btn btn-outline-primary btn-sm" type="button">Read More</button></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>