<app-navbar></app-navbar>
<main class="page faq-page">
    <section class="clean-block clean-faq dark">
        <div class="container">
            <div class="block-heading">
                <h1 class="text-info" class="fix-top">ORDERS</h1>
            </div>
            <div class="block-content">
                <h3>CURRENT ORDERS</h3>
                <div class="faq-item">
                    <h4 class="question">Order number 1</h4>
                    <div class="answer">
                        <p>Description of order number 1</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">Order number 2</h4>
                    <div class="answer">
                        <p>Description of order number 2</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">Order number 3</h4>
                    <div class="answer">
                        <p>Description of order number 3</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>