<div class="row no-gutters">
  <!--  -->
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of items; index as i">
    <div class="clean-product-item">
      <div class="image"><a (click)="savedetailsofitem(i)" [routerLink]="['/cropproduct']">
          <img class="img-fluid d-block mx-auto"
            [src]="item.image_url"></a></div>
      <div class="product-name"><a (click)="savedetailsofitem(i)" [routerLink]="['/cropproduct']">{{item.name}}</a>
      </div>
      <div *ngIf="items[i].sold_flag == 1" class="alert alert-danger"> Item Sold</div>
      <div *ngIf="timeout[i]" class="alert alert-danger"> Bid Expired</div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>{{item.price}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>