<app-navbar></app-navbar> 
<main class="page login-page" *ngIf="!otp">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading" id="loginComp">
                <h2 style="margin-top: 7rem;" class="text-info">Log In</h2>
                <br><br>
                <p>Please Login as the following member: <br></p>
                <p>1. Farmer</p>
                <p>2. Contractor</p>
                <p>3. Vendor</p>
            </div>
            <form>
                <div class="form-group"><label for="email">Email</label><input [(ngModel)]="name" name="name" class="form-control item" type="email" id="email"></div>
                <div class="form-group"><label for="password">Password</label><input [(ngModel)]="password" name="password" class="form-control" type="password" id="password"></div>
                <p *ngIf="isLoading" class="alert alert-primary" style="text-align: center;">Loading!!!!!</p>
                <p *ngIf="message != ''" class="alert alert-danger">{{ message }}</p>
                <button class="btn btn-primary btn-block" type="submit" (click)="login()">Log In</button>
                <button class="btn btn-success btn-block" (click)="toggleotp()">LOGIN USING OTP</button>
                
                <br>
            </form>
        </div>
    </section>
</main>
<app-otp *ngIf="otp"></app-otp>
<app-footer></app-footer>
